{# http://jinja.pocoo.org/docs/templates/#macros #}
{% macro menu_item(stub, link, name) -%}
    <li{% if active_page == stub %} class="active"{% endif %}><a href="{{ link }}">{{ name }}</a></li>
{%- endmacro %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="A list of stuff I read or see every day">
        <meta name="viewport" content="width=device-width">
        <title>Things I've Seen{% if self.title() %} &ndash; {% block title -%}{% endblock %}{% endif %}</title>
        <script src="{{ url_for('static', filename='js/modernizr.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-tagmanager.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
        {% if self.styles() %}
        <style type="text/css">
            {% block styles %}{% endblock %}
        </style>
        {% endif %}
    </head>
    <body class="container">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade it for a better web experience</a>.</p>
        <![endif]-->

        <h1><a href="/">ListLog</a></h1>

        <div id="scroll-up"><a class="btn btn-danger" href="#">Up</a></div>

        {# Display any flashed messages #}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }} </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# http://jinja.pocoo.org/docs/tricks/#highlighting-active-menu-items #}
        <ul class="nav nav-tabs">
            {{ menu_item('index', '/', 'Home') }}

            {% if current_user.is_authenticated() %}
                {{ menu_item('post', '/post', 'Post') }}
                <li><a href="/logout">Log out</a></li>
            {% else %}
                {{ menu_item('login', '/login', 'Log in') }}
            {% endif %}

            <a href="/feed" class="btn btn-small btn-warning pull-right">Atom</a>
        </ul>

        <div id="content">{% block content %}{% endblock %}</div>

        <hr />

        <footer>
            &copy; {{ config.CURRENT_YEAR }}
            {% if self.footer() %}
                {% block footer %}{% endblock %}
            {% endif %}
            {{ config.COPYRIGHT_MESSAGE|safe }}
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}"><\/script>')</script>
        <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.smooth-scroll.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.timeago.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.infinitescroll.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-tagmanager.js') }}"></script>
        <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
        <script type="text/javascript">
        {% block javascript %}{% endblock %}
        </script>
    </body>
</html>
