{% extends "base.html" %}

{% block content %}

    <div class="pull-right"><a href="/post" class="btn">New Post</a></div>
    <div class="pull-right"><a href="/login" class="btn">Log in</a></div>
    <div class="pull-right"><a href="/logout" class="btn">Log out</a></div>
    {% for item in items %}
        <hr />
        <h2>{{ item.title }}</h2>
        <em class="timeago" title="{{ item.posted }}">{{ item.posted|relative_date }}</em> <code>{{ item.posted }}</code><br />
        <p>{{ item.content|markdown }}</p>
        <p>
            <small class="label label-inverse">{{ item.post_type|expand_post_type }}</small>
            {% if item.tags is defined %}
                {% for tag in item.tags %}
                    <a href="/tag/{{ tag }}" class="label">#{{ tag }}</a>
                {% endfor %}
            {% endif %}
        </p>
    {% else %}
        Nothing here&hellip;
    {% endfor %}

    {# Pagination #}
    {% if number_of_pages and number_of_pages > 1 %}
    <div class="pagination">
        <ul>
            <li{% if page_number == 1 %} class="disabled"{% endif %}><a href="/page/1">&laquo;</a></li>

            {% for number in range(number_of_pages) %}
                <li{% if page_number == number + 1 %} class="active"{% endif %}><a href="/page/{{ number + 1 }}">{{ number + 1 }}</a></li>
            {% endfor %}

            <li{% if page_number == number_of_pages %} class="disabled"{% endif %}><a href="/page/{{ number_of_pages }}">&raquo;</a></li>
        </ul>
    </div>
    {% endif %}

{% endblock %}

{% block javascript %}
// Show the "up" arrow when the user scrolls 300px from the top
$(window).scroll(function () {
    $("#scroll-up").offset().top > 300 ? $("#scroll-up").fadeIn() : $("#scroll-up").fadeOut();
});
$(document).ready(function() {
    // Make the scroll experince a smooth one...
    $('#scroll-up a').smoothScroll({scrollTarget: document.body});

    // Automagically update the timestamp
    $('.timeago').timeago();

});
{% endblock %}
