{% extends "base.html" %}
{% set active_page = 'post' -%}

{# Documentation:
    http://pythonhosted.org/Flask-WTF/
#}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-error">You're missing a few required fields&hellip;</div>
    {% endif %}

    <h2>Post</h2>
    <form action="/post" method="post">
        {{ form.csrf_token }}
        {{ form.title(placeholder="title", class="input-block-level") }}
        <br />
        {{ form.content(placeholder="sup?", class="input-block-level", rows=15) }}
        <div>
            <input type="text" name="tags" placeholder="tags" class="tagManager"/>
        </div>

        <table class="table">
            <tr>
            {% for subfield in form.post_type %}
                <td>{{ subfield.label }}</td>
            {% endfor %}
            </tr>
            <tr>
            {% for subfield in form.post_type %}
                <td>{{ subfield }}</td>
            {% endfor %}
            </tr>
        </table>

        <button type="submit" class="btn">Post</button>
    </form>
{% endblock %}

{% block javascript %}
jQuery(".tagManager").tagsManager({
    preventSubmitOnEnter: false
});
jQuery(".datepicker").datepicker();
{% endblock %}